@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
   font-family: 'Poppins', sans-serif;
   padding: 0%;
   margin: 0%;
   background-color: #e697d3;
}
.title_head{
  font-size: 2.8rem;
  background-color: #fff;
  box-shadow: 0 0 10px black;
}
.container{
    text-align: center;
    align-content: center;
    
  }
  
  .box{
    width: 100px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0 0 10px black;
    border: 1px solid black;
    display:  inline-block;
    line-height: 80px;
    cursor: pointer;
    font-size: 2.5rem;
  }
  
  .board{
    display: inline-flex;
    flex-wrap: wrap;
    width: 320px;
  }
  input{
    cursor: pointer;
    padding: 4px 15px;
    font-size: 0.9rem;
  }
  form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
   font-size: 1.2rem;
  }
  label{
    padding: 0 10px;
  }
  .start_btn{
    display: block;
    justify-content: center;
    border-radius: 5px;
    
  }
 .Reset_btn{
   display: block;
   justify-content: center;
   margin: auto;
   margin-top: 20px;
   padding: 4px 15px;
   border-radius: 5px;
   cursor: pointer;
    font-size: 0.9rem;
 }
 .start_btn:hover{
   color: #fff;
   background-color: #5191f0;

 }
 .Reset_btn:hover{
  color: #fff;
  background-color: #5191f0;

}